footer {
    margin-top: 50px;
    border-top: 1px solid #CCC;
    padding: 30px;
}

footer a {
    clear: both;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    color: #AAA;
}

footer a:hover {
    border-bottom: 1px solid #AAA;
}